.InputForm {
  display: flex;
  flex-direction: column;
  width: 1000px;
}

.InputForm_prompt {
  margin-bottom: 8px;
}

.InputForm_textarea {
  margin-bottom: 8px;
  height: 250px
}

.InputForm_submit {
  width: 100px;
}

.RootView_primaryTopic {
  margin-top: 48px;
}

.RootView_suggestedTags {
  margin-top: 32px;
}

.RootView_tips {
  margin-top: 32px;
}

.RootView_similarQuestionPrompt {
  display: flex;
  flex-direction: row;
  margin-top: 32px;
}

.RootView_similarQuestionLink {
  margin-left: 4px;
}
